
.menu-bar {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #ecf0f1);
    -fx-padding: 5 10;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1 0;
}


.menu {
    -fx-text-fill: #34495e;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}


.menu:hover {
    -fx-background-color: grey;
    -fx-text-fill: white;
}


.menu-item {
    -fx-padding: 6 15;
    -fx-font-size: 12px;
    -fx-text-fill: #2c3e50;
}

.menu-item:hover {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
}


.radio-menu-item:selected {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
}

.menu-item, .radio-menu-item {
    -fx-cursor: hand;
}
